<head>
<title>React and Ruby</title>
<%= javascript_pack_tag 'application' %>
</head>
<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>
<%= react_component("HelloWorld", { greeting: "Hello, I'm a React component integrated with react-rails." }) %>

